<div class="image-preview">
  <img [src]="imagePreviews[1]">
</div>

<input style="display: none" type="file" (change)="onFileUpload($event, 0)" #selectFile>
<button (click)="selectFile.click()">Select File</button>
<button (click)="OnUploadFile(0)">Upload</button>


<div class="image-preview">
  <img [src]="imagePreviews[2]">
</div>

<input style="display: none" type="file" (change)="onFileUpload($event, 1)" #selectFile1>
<button (click)="selectFile1.click()">Select File</button>
<button (click)="OnUploadFile(1)">Upload</button>
