<div class="grid-container">
  <h1 class="mat-h1">Home</h1>
  <mat-grid-list cols="2" rowHeight="600px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content class="dashboard-card-content">
          <app-elect-setting *ngIf="card.title === 'Elect-Settings'"></app-elect-setting>
          <app-votingresults *ngIf="card.title === 'Stimmenverteilung'"></app-votingresults>
          <app-elected-classes *ngIf="card.title === 'Classes-Voted'"></app-elected-classes>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
