<div>
  <mat-card-actions>
    <button mat-raised-button (click)="beginElection()">Wahl beginnen</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button (click)="endElection()">Wahl ende</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button (click)="endElection4Teacher()">Wahl ende</button>
  </mat-card-actions>

  <div class="form-group">
    <label for="file">Upload CSV-File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
  </div>



</div>
