<div>
  <mat-card-actions>
    <button mat-raised-button (click)="beginElection()">Wahl beginnen</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button (click)="endElection()">Wahlende für Lehrer</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button (click)="endElection4Teacher()">Wahl endgültig beenden</button>
  </mat-card-actions>

<!--  <div class="form-group">-->
<!--    <label for="file">Upload CSV-File</label>-->
<!--    <input type="file"-->
<!--           id="file"-->
<!--           (change)="handleFileInput($event.target.files)">-->
<!--  </div>-->
<!--  <button (click)="uploadFileToActivity()">Upload se File</button>-->

</div>
