/*Login Layout Mat-Card --------------------------------------------------------------------------------------*/
.mat-card {
  width: 500px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

mat-card-title {
  font-size: 20px;
}

mat-card-content table, mat-spinner {
  margin: 0 auto;
}

.mat-card mat-card-header{
  justify-content: center;
  margin-top: 20px;
}




