<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <table>
        <tr>
          <td>
            <mat-form-field style="color: grey!important">
              <input matInput placeholder="Username" name="username" required [(ngModel)]="user.username">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" name="password" required [(ngModel)]="user.password">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <!-- <mat-spinner [value]="5"></mat-spinner> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click) = "login()">Login</button>
  </mat-card-actions>
</mat-card>
