/*Abstimmung-Card ----------------------------------------*/
.contentCard{
  margin: auto;
}

.mat-card {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.mat-card mat-card-header {
  justify-content: center;
  margin-top: 20px;
}

#election_heading{
  font-size: 220%;
}

#schoolsp_heading{
  font-size: 180%;
  margin: 2% auto 2% 0%;
  font-weight: normal;
  background-color: blueviolet;
}

/*Schulsprecher ----------------------------------------*/
#kandidaten_schulsprecher{
  float: left;
  size:auto;
  margin: 4% auto auto 2%;
  font-size: 180%;
}

.election_button_group{
  background-color: darkcyan;
  width: 60%;
  size: 200%;
  float:right;
  margin: 4%;
  padding: 3%;
}

.kan1FuerLinks{
  margin-bottom: 15%;
}


/*Wahl Buttons ----------------------------------------*/







/*************************************/
/*************************************/
/*************von vorher**************/
