/*Abstimmung-Card ----------------------------------------*/
.contentCard {
}

.mat-card {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.mat-card mat-card-header {
  justify-content: center;
  margin-top: 20px;
}


#election_heading{
  font-size: 220%;
}


/*SchulSP oder AbeteilungsSP ----------------------------------------*/
#schoolsp_heading {
  font-size: 180%;
  margin: 2% auto 2% 0%;
  font-weight: normal;
}

#kandidat_allinklusive {
  margin-bottom: 40px;
}


#abteilungssp_heading {
  font-size: 180%;
  margin: 2% auto 2% 0%;
  font-weight: normal;
}

#abteilungssprecher_allinklusive {
  height: auto;
  margin-top: 30px;
}

/*Stimmabgabe ----------------------------------------*/
.votePoints {
  width: 20%;
  margin-left: 35%;
}

.votePoints2 {
  width: 20%;
  margin-left: 35%;
}

.voteP {
  font-size: 180%;
  padding-left: 60%;
}

#voteP6 {
  /*padding-left: 10%;*/
  font-size: 180%;

}

#voteP5 {
  padding-left: 19%;
  width: 20%;
  font-size: 180%;
}

#voteP4 {
  padding-left: 38%;
  width: 20%;
  font-size: 180%;
}

#voteP3 {
  padding-left: 57.5%;
  width: 20%;
  font-size: 180%;
}

#voteP2 {
  padding-left: 76.5%;
  width: 20%;
  font-size: 180%;
}

#voteP1 {
  padding-left: 96.5%;
  width: 20%;
  font-size: 180%;
}

#voteA2 {
  padding-left: 120%;
  width: 20%;
  font-size: 180%;
}

#voteA1 {
  padding-left: 140%;
  width: 20%;
  font-size: 180%;
}

/*Schulsprecher ----------------------------------------*/
.kan1 {
  background-color: green;
  position: relative;
  flex: 1 1 auto;
  display: block;
  display: block;
}


#kandidaten_schulsprecher {
  width: 30%;
  float: left;
  box-sizing: border-box;
  font-size: 180%;
  padding-top: 1%;
}

.election_button_group {
  width: 60%;
  box-sizing: border-box;
  float: left;
  padding: 2%;
}

.simple_button {
  padding-right: 10%;
}

/*Abteilungssprecher ----------------------------------------*/
.kan2 {
  background-color: green;
}

#kandidaten_abteilungssprecher {
  width: 30%;
  float: left;
  box-sizing: border-box;
  font-size: 180%;
  padding-top: 1%;
}

.election_button_group {
  width: 60%;
  box-sizing: border-box;
  float: left;
  padding: 2%;
}

.simple_button {
  padding-right: 10%;
}

/*Senden ----------------------------------------*/
.abstimmern {
  margin: 3%;
}

.autosize{
  height:100%;
  width:100%;
}
