h2 {
  font-size: 120%;
  font-style: none;
}


/*Abstimmung-Card ---------------------------------------------------------------------------------------------*/
.mat-card {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

mat-card-title {
  font-size: 20px;
}

mat-card-content table, mat-spinner {
  margin: 0 auto;
}

.mat-card mat-card-header {
  justify-content: center;
  margin-top: 20px;
}

td .tableWahl {
  margin-right: 35%;
}

.contentCard{
  text-align: right;
  font-size: 130%;
}


mat-radio-button{
  margin-left: 8%;

}

.kan1 mat-radio-button{
  margin-bottom: 1.5%;
  margin-right: 3%;
  text-align: right;
}

.kan1FuerLinks{
  width: 100%;
}

.kan1FuerLinks a{
  margin-left: -5%
}

.kan2 mat-radio-button{
  margin-bottom: 1.5%;
  margin-right: 3%;
  text-align: right;

}

.kan2{
  text-align: right;
  margin-left:5%;
}

.kan2FuerLinks{
  margin-left: 0%;
  width: 35%;
}
