/*Abstimmung-Card ----------------------------------------*/
.contentCard{
  margin: auto;
}

.mat-card {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.mat-card mat-card-header {
  justify-content: center;
  margin-top: 20px;
}

#election_heading{
  font-size: 220%;
}

/*Schulsprecher ----------------------------------------*/
#schoolsp_heading{
  font-size: 180%;
  margin: 2% auto 2% 0%;
  font-weight: normal;
}

.kan1{
  text-align: right;
  margin-left:5%;
}

.kan1FuerLinks{
  margin-left: 0%;
  width: 35%;
}




/*Abteilungssprecher ----------------------------------------*/
#abteilungssp_heading{
  font-size: 180%;
  margin: 3% auto 2% 0%;
  font-weight: normal;
}

.kan2{
  text-align: right;
  margin-left:5%;
}

.kan2FuerLinks{
  margin-left: 0%;
  width: 35%;
}


/*Wahl Buttons ----------------------------------------*/
.votePoints td{
  font-size: 140%;
}

hr{
  margin-bottom: 2%;
}

.kan2FuerLinks a{
  margin: 0 auto auto 5%;
  float: left;
  font-size: 140%;
}

.kan1FuerLinks a{
  margin: 0 auto auto 5%;
  float: left;
}

/*
#kandidaten_schulsprecher{
  width: 50%;
  float:left;
  margin-right:0;
}*/


.kan1 mat-radio-button{
  margin-bottom: 2%;
  margin-right: 4%;
  text-align: right;

}

.kan2 mat-radio-button{
  margin-bottom: 2%;
  margin-right: 5%;
  text-align: right;

}
