<mat-toolbar color="primary" *ngIf="dataService.showToolBar">
  <mat-toolbar-row>
    <img src="../../assets/htl-logo.png" id="htl_logo">
    <a>Student's Vote</a>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
          KLSDJflka
      </button>
      <button mat-menu-item>

      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>


