<h1>Kandidaten</h1>

<hr>
<h2>Schulsprecher</h2>

<mat-card class="mat-card" class="mat-card-schulsprecher" id="schueler1">
  <mat-card-content>
    <img src="" class="schueler-img">
    <div id="text">
      <p id="">Name</p>
      <p>Klasse</p>
      <p>Zweig</p>
    </div>
    <div><p>Wahlversprechen</p></div>
    <mat-spinner [value]="5" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
</mat-card>





<hr>
<h2>Abteilungssprecher</h2>

<mat-card class="mat-card" class="mat-card-schulsprecher" id="schueler1">
  <mat-card-content>
    <mat-spinner [value]="5" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
</mat-card>

<mat-card class="mat-card" class="mat-card-schulsprecher" id="schueler2">
  <mat-card-content>
    <mat-spinner [value]="5" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
</mat-card>

