<h1 class="mat-h1">Kandidaten</h1>

<hr>
<h2 class="mat-h2">Schulsprecher</h2>


<!--Schueler hinzufügen-->
<button mat-raised-button id="addStudent" class="addButton" (click)="addStudent()">+</button>

<div *ngIf="anzahlKandidaten.length != 0">
  <div *ngFor="let anzahl of anzahlKandidaten; let i = index">

    <!-- Beginn Matcard -->
    <mat-card class="mat-card" class="mat-card-schulsprecher" [id]="schuelerId(i)">

      <!--Inhalt von Mathcad-->
      <mat-card-content>


        <!----SCHÜLER---->
        <create-candidate></create-candidate>


        <mat-spinner [value]="5" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-content>
        {{i}}
        <div class="image-preview">
          <img [src]="imagePreviews[i]">
        </div>

        <input style="display: none" type="file" (change)="onFileUpload($event, i - 1)" #selectFile>
        <button (click)="selectFile.click()">Select File</button>
        <button (click)="OnUploadFile(i - 1)">Upload</button>
      </mat-card-content>
    </mat-card>
    <!-- Ende Matcard -->
  </div>
</div>


<hr>
<br>
<h2 class="mat-h2">Abteilungssprecher</h2>

<!--Schueler hinzufügen-->
<button mat-raised-button id="addDep" class="addButton" (click)="addStudentDep()">+</button>

<div *ngIf="anzahlKandidatenDep.length != 0">
  <div *ngFor="let anzahlDep of anzahlKandidatenDep; let j = index">

    <!-- Beginn Matcard -->
    <mat-card class="mat-card" class="mat-card-abteilungssprecher" [id]="abteilungId(j)">

      <mat-card-content>


        <!---SCHÜLER ABTEILUNG--->
        <create-candidate></create-candidate>


        <mat-spinner [value]="5" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-content>
        {{j}}
        <div class="image-preview">
          <img [src]="imagePreviews[j + 1]">
        </div>

        <input style="display: none" type="file" (change)="onFileUpload($event, j)" #selectFile>
        <button (click)="selectFile.click()">Select File</button>
        <button (click)="OnUploadFile(j)">Upload</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

