<h1 class="mat-h1">Kandidaten</h1>
<hr>

<!--Schueler hinzufügen-->
<button mat-raised-button id="addStudent" class="addButton" (click)="addStudent()">+</button>


<div *ngIf="anzahlKandidaten.length != 0">
  <div *ngFor="let anzahl of anzahlKandidaten; let i = index">

    <!-- Beginn Matcard -->
    <mat-card class="mat-card" class="mat-card-schulsprecher" [id]="schuelerId(i)">

      <!--Inhalt von Mathcad-->
      <mat-card-content>


        <!----SCHÜLER---->
        <create-candidate [i]="i" [id]="idS"></create-candidate>


        <mat-spinner [value]="5" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>

    </mat-card>
    <!-- Ende Matcard -->
  </div>
</div>

