<h1>Kandidaten</h1>

<hr>
<h2>Schulsprecher</h2>


<button mat-raised-button id="addStudent" class="addButton" (click)="addStudent()">+</button>

<div *ngIf="anzahlKandidaten.length != 0">
  <div *ngFor="let anzahl of anzahlKandidaten">
    <mat-card class="mat-card" class="mat-card-schulsprecher" [id]="schuelerId()">

      <mat-card-content>
        <div class="schueler_text">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" value="">
          </mat-form-field>

          <br>

          <mat-form-field>
            <mat-select placeholder="Klasse">
              <mat-option *ngFor="let class of classes" [value]="class.value" [(ngModel)]="class">
                {{class.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <br>

          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Zweig" aria-label="Number" matInput [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>


        <div>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Wahlversprechen"></textarea>
            </mat-form-field>
          </form>
        </div>

        <button mat-raised-button id="send" class="sendButton" (click)="sendStudent()">hinzufügen</button>


        <mat-spinner [value]="5" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<hr>
<br>
<h2>Abteilungssprecher</h2>

<button mat-raised-button id="addDep" class="addButton" (click)="addStudentDep()">+</button>

<div *ngIf="anzahlKandidatenDep.length != 0">
  <div *ngFor="let anzahlDep of anzahlKandidatenDep">
    <mat-card class="mat-card" class="mat-card-abteilungssprecher" >
      <mat-card-content>
        <img src="" class="schueler-img">

        <div class="schueler_text">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" value="">
          </mat-form-field>

          <br>

          <mat-form-field>
            <mat-select placeholder="Klasse">
              <mat-option *ngFor="let class of classes" [value]="class.value">
                {{class.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <br>

          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Zweig" aria-label="Number" matInput [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>


        <div>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Wahlversprechen"></textarea>
            </mat-form-field>
          </form>
        </div>


        <mat-spinner [value]="5" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
    </mat-card>
  </div>
</div>

