<h1>Benutzer ändern</h1><br>
Username:<br>
<input type="text" value={{username}}>
<button (click)="changeUsername()">Edit</button>
<div *ngIf="changeUsr">
  <input type="text" [(ngModel)]="newUsername">
</div>
<br><br>
Password:<br>
<input type={{passwordType}} value={{password}}>
<input type="button" (mousedown)="mouseDown()" (mouseup)="mouseUp()">
<button (click)="changePassword()">Edit</button>
<div *ngIf="changePwd">
  <input type={{passwordType}} [(ngModel)]="newPassword">
  <input type="button" (mousedown)="mouseDown()" (mouseup)="mouseUp()">
</div>
