<div class="chart" style="width: 70vw; height: 20vh; margin-left: -20vw">
  <canvas #chart ></canvas>
</div>
<div class="chart1" style="width: 70vw; height: 20vh; float: right; margin: -19vh 0 0 50vw">
  <canvas #chart1 ></canvas>
</div>
<div class="chart2" style="width: 70vw; height: 20vh; margin: 10vh 0 0 -20vw" >
  <canvas #chart2 ></canvas>
</div>
<div class="chart3" style="width: 70vw; height: 20vh; float: right; margin: -19vh 0 0 50vw">
  <canvas #chart3 ></canvas>
</div>
<div class="class" style="float: right; margin: 0 0 0 0">
  <p *ngFor="let class of classes" style="float: right">{{class}}, </p>
</div>
