<mat-card class="mat-card">
  <mat-card-actions>
    <br>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="this.date" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-card-actions>
        <button mat-button (click)="newElection()">Neue Wahl</button>
      </mat-card-actions>
      <mat-card-actions>
        <button mat-button (click)="runOff()">Stichwahl</button>
      </mat-card-actions>
    </div>
    <br>
  </mat-card-actions>
</mat-card>
